:root {
    --m-color : #a70000;
    --m-color-hover : #d90000;
    --u-profile: #ff0000;
    --m-color-label: #ffffff;
    --m-color-category: #2c3034;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(20,20,20);
}

.navbar {
    background: linear-gradient(172deg, #000000 0%, var(--m-color) 30%, #780000 45%, var(--m-color) 65%, #000000 100%);
    color: rgb(255, 255, 255);
}

.tox.tox-tinymce {
    padding: 0;
}

.usernamedisplay {
    color: var(--u-profile)!important;
    font-size: 20px;
    font-weight: 500;
}

.post_topic {
    color: var(--m-color-hover);
}

#login_form_name,#login_form_pw {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#register_form_name,#register_form_pw,#register_form_repeat {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#submit {
    margin: 0 0 0 50px;
}

#submit_update {
    background-color: var(--m-color);
}

#user-profile {
    text-decoration: none;
    color: var(--u-profile);
}

#current-user {
    text-Shadow: 2px 2px 5px #000000;
    color: #ffffff;
}

#newpostbtn {
    text-Shadow: 2px 2px 5px #000000;
    margin-bottom: -0.25rem;
}

#reginfo {
    text-shadow: 2px 2px 5px #000000;
    font-size: 1.25rem;
}

#admin_redirect {
    color: var(--m-color);
}

#dbcontent {
    margin: 5rem 0 0 0;
}

#dbcontent>.col>.row {
    justify-content: space-evenly;
    align-items: center;
}

#th-date {
    text-align: end;
}

#date {
    vertical-align: middle;
    text-align: end;
    
}

#index_submit {
    width: fit-content;
    align-self: flex-end;
}

td#author {
    vertical-align: middle;
    text-align: start;
}

div#current-user {
    text-align: center;
    margin: 2rem 0 0 0;
}

div a {
    text-decoration: none;
    text-shadow: 0px 1px 1px #000000;
    color: var(--m-color);
}

label {
    color: var(--m-color-label);
}

.profileimg {
    height: 40px;
    padding: 1px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: white;
}

ul.dropdown-menu.dropdown-menu-dark.show {
    border: 2px solid #000000;
}

/* ul.list.d-flex.flex-row {
    border: 4px outset darkred;
} */

li.nav-item.dropstart {
    margin-left: auto;
}

li.list-group-item.list-group-item-dark.border-dark {
    border: none;
    border-left: 2px solid #a70000!important;
    border-radius: 10px;
    background: var(--m-color-category);
}

li.list-group-item {
    margin: 0 0 1rem 0;
}

a#navbarDarkDropdownMenuLink:after, a#navbarDarkDropdownMenuLink:before {
    content: none;
}

[href]:hover {
    color: var(--m-color-hover);
}



