/* #region ROOT VARIABLES */
:root {
    --m-color : #a70000;
    --m-color-hover : #d90000;
    --u-profile: #ff0000;
    --m-color-label: #ffffff;
    --m-color-category: #2c3034;
}
/* #endregion ROOT VARIABLES */

/* #region DEFAULT OVERRIDES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(20,20,20);
}
/* #endregion DEFAULT OVERRIDES */

.main-content {
    margin-top: 2rem;
}

.usernamedisplay {
    color: var(--u-profile)!important;
    font-size: 20px;
    font-weight: 500;
}

.post_topic {
    color: var(--m-color-hover);
}

.profile_active_link {
    border: none;
    box-shadow: 1px 1px 5px #a70000;
    border-radius: 10px;
}

.profile_link_hover {
    border: none;
    box-shadow: 1px 1px 5px #a70000;
    border-radius: 10px;
}

td#author {
    vertical-align: middle;
    text-align: start;
}

div#current-user {
    text-align: center;
}

div a {
    text-decoration: none;
    text-shadow: 0px 1px 1px #000000;
    color: var(--m-color);
}

label {
    color: var(--m-color-label);
}

.nav-profileimg {
    height: 40px;
    padding: 1px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: white;
}
.profileimg {
    height: 20vh;
    width: 115px;
    padding: 1px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: white;
}

a#navbarDarkDropdownMenuLink:after, a#navbarDarkDropdownMenuLink:before {
    content: none;
}

[href]:hover {
    color: var(--m-color-hover);
}

/* #region TINY MCE OVERRIDES */
.tox.tox-tinymce {
    padding: 0;
    border: 1px solid #767676;
}

.tox.tox-tinymce.tox-platform-touch {
    min-width: 400px;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: none !important;
    background-color: #212529 !important;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 0;
}

.tox .tox-menu {
    background-color: #212529 !important;
    border: none !important;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(42,55,70,.1);
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    z-index: 1150;
}

.tox .tox-menubar {
    background: none !important;
    background-color: #212529 !important;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 4px 0 4px;
}

.tox .tox-dialog__header {
    align-items: center;
    background-color: #212529 !important;
    border-bottom: none;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 8px 16px 0 16px;
    position: relative;
}

.tox .tox-statusbar {
    align-items: center;
    background-color: #212529 !important;
    border-top: none !important;
    color: #fff;
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
}
/* #endregion TINY MCE OVERRIDES */

/* #region ID RULES */
#login_form_name,#login_form_pw {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#logout_user {
    color: var(--m-color);
}
#logout_user:hover {
    color: var(--m-color-hover);
}

#register_form_name,#register_form_pw,#register_form_repeat {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#submit {
    margin: 0 0 0 50px;
}

#submit_update {
    background-color: var(--m-color);
}

#user-profile {
    text-decoration: none;
    color: var(--u-profile);
}

#current-user {
    text-Shadow: 2px 2px 5px #000000;
    color: #ffffff;
}

#newpostbtn {
    text-Shadow: 2px 2px 5px #000000;
    margin-bottom: -0.25rem;
}

#reginfo {
    text-shadow: 2px 2px 5px #000000;
    font-size: 1.25rem;
}

#admin_redirect {
    color: var(--m-color);
}

#dbcontent {
    margin: 3rem 0 0 0;
}

#dbcontent>.col>.row {
    justify-content: space-evenly;
    align-items: center;
}

#th-date {
    text-align: end;
}

#date {
    vertical-align: middle;
    text-align: end;
}

#index_submit {
    width: fit-content;
    align-self: flex-end;
}
/* #endregion ID RULES */

/* #region BOOTSTRAP CLASS OVERRIDE */
.row {
    justify-content: center;
}

.row.text-white>.col-2 {
    text-align: center;
}

.navbar {
    background: linear-gradient(90deg, #141414 5%, #780000 40%, #780000 70%, #141414 95%);
    color: rgb(255, 255, 255);
    min-width: 500px;
}

li.nav-item.dropstart {
    margin-left: auto;
}

li.list-group-item.list-group-item-dark.border-dark {
    border: none;
    border-left: 2px solid #a70000!important;
    border-radius: 10px;
    background: var(--m-color-category);
}

li.list-group-item {
    margin: 0 0 1rem 0;
}
/* #endregion BOOTSTRAP CLASS OVERRIDE */

/* #region BOOTSTRAP DROPDOWN OVERRIDE */
li.dropdown-item {
    border: none;
    border-left: 4px solid #a70000!important;
    border-radius: 10px;
    background: var(--m-color-category);
}
li.dropdown-item a{
    font-size: 1.15rem;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0px;
}

ul.dropdown-menu.dropdown-menu-end.dropdown-menu-lg-end.dropdown-menu-dark.show {
    background: transparent;
    border: none;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    color: #fff;
    background-color: var(--m-color-category);
}
/* #endregion BOOTSTRAP DROPDOWN OVERRIDE */
